<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title th:text="#{application.info}"></title>
</head>
<body>
	<th:block th:include="fragments/header2"></th:block>
	<div class="jumbotron">
		<div class="row text-center">
			<div class="row"><h2 th:text="#{application.info}"></h2></div>
		</div>
	</div>
	<div class="container">
		<div th:fragment="header">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/osmroads}" th:text="#{osmroad.list}"></a></li>
					<li><a th:href="@{/osmbuildings}" th:text="#{osmbuilding.list}"></a></li>
					<li><a th:href="@{/osmlanduses}" th:text="#{osmlanduse.list}"></a></li>
					<li><a th:href="@{/osmpoints}" th:text="#{osmpoint.list}"></a></li>
					<li><a th:href="@{/osmplaces}" th:text="#{osmplace.list}"></a></li>
					
					<li><a th:href="@{/osmnatures}" th:text="#{osmnature.list}"></a></li>
					<li><a th:href="@{/osmrailways}" th:text="#{osmrailway.list}"></a></li>
					<li><a th:href="@{/osmwaterways}" th:text="#{osmwaterway.list}"></a></li>
					
				</ul>
			</div>
		</div>
	</div>
	<th:block th:include="fragments/footer"></th:block>
</body>
</html>